body {
    font-family: Arial, Helvetica, sans-serif;
}

ul li {
    margin: 15px;
}
.part_a li:nth-child(2), .part_b li:nth-child(odd), .part_c li:nth-child(3), .part_c li:nth-child(6){
    background-color: yellow;
    width: fit-content;
}